includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - Modules
        - config
        - database
        - tests
    excludePaths:
        - vendor/*
        - bootstrap/cache/*
        - storage/*
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - identifier: missingType.iterableValue
    treatPhpDocTypesAsCertain: false
    parallel:
        maximumNumberOfProcesses: 4
